# VS Code
.vscode/

# Eclipse
.metadata/
*.log
*.tmp
*.bak
*.swp
*.swo
.project
.classpath
.settings/

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Maven
target/

# Gradle
.gradle/
build/

# Spring Boot
*.jar
*.war

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Application-specific
application.properties
application.yml

# Other
*.class
*.jar
*.war
*.ear
